force-app/main/default/flows/AccountPlan_BeforeTriggerFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <customErrors>
        <name>Account_Team_Member_Error</name>
        <label>Account Team Member Error</label>
        <locationX>754</locationX>
        <locationY>1199</locationY>
        <connector>
            <targetReference>If_Account_is_changed</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>All Account team member apart from RM Name and RM TL Name are mandatory before Account is submitted for approval.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Action_Plan_Error</name>
        <label>Action Plan Error</label>
        <locationX>1018</locationX>
        <locationY>1199</locationY>
        <connector>
            <targetReference>If_Account_is_changed</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>At least one Action Plan record is required for Account Plan to be submitted.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>BUC_Record_Required</name>
        <label>BUC Record Required</label>
        <locationX>490</locationX>
        <locationY>1199</locationY>
        <connector>
            <targetReference>If_Account_is_changed</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>At least one BUC record is required for Account Plan to be submitted.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_for_same_fiscal_year</name>
        <label>Error for same fiscal year</label>
        <locationX>1893</locationX>
        <locationY>592</locationY>
        <customErrorMessages>
            <errorMessage>There already exist an Account Plan with same Fiscal Year</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Multiple_Account_Plan_Error</name>
        <label>Multiple Account Plan Error</label>
        <locationX>1282</locationX>
        <locationY>1199</locationY>
        <connector>
            <targetReference>If_Account_is_changed</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>There can be multiple Account Plan in draft, however only one Account Plan can be Submitted for approval.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Past_fiscal_year_cannot_be_selected</name>
        <label>Past fiscal year cannot be selected</label>
        <locationX>50</locationX>
        <locationY>659</locationY>
        <customErrorMessages>
            <errorMessage>Previous fiscal year account plans can only be created by System administrator or Sales Ops.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Previous_Fiscal_Year_Error</name>
        <label>Previous Fiscal Year Error</label>
        <locationX>1722</locationX>
        <locationY>659</locationY>
        <connector>
            <targetReference>If_Account_is_changed</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>User can not update the Account Plan for previous Fiscal Year.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Same_Fiscal_Year</name>
        <label>Same Fiscal Year</label>
        <locationX>314</locationX>
        <locationY>657</locationY>
        <customErrorMessages>
            <errorMessage>Can&apos;t have two Account Plans for same Fiscal Year</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>same_fiscal_year_error</name>
        <label>same fiscal year error</label>
        <locationX>1459</locationX>
        <locationY>1881</locationY>
        <customErrorMessages>
            <errorMessage>There already exist an Account Plan with same Fiscal Year</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Account_Plan_Updates</name>
        <label>Account Plan Updates</label>
        <locationX>1502</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>If_Account_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_changed_to_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Plan_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Plan_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Submitted_Account_Plan_Records</targetReference>
            </connector>
            <label>Status changed to Submitted</label>
        </rules>
        <rules>
            <name>Previous_Fiscal_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isPastYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Ops</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Details.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Fiscal_Year_Error</targetReference>
            </connector>
            <label>Previous Fiscal Year</label>
        </rules>
        <rules>
            <name>Fiscal_Year_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fiscal_Year__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_record_with_same_fiscal_year</targetReference>
            </connector>
            <label>Fiscal Year is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_past_year_account_plan_is_being_created</name>
        <label>Check if past year account plan is being created</label>
        <locationX>170</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>Get_SAM_Account_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>pastYear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PastYearWhileCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Details.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Ops</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Past_fiscal_year_cannot_be_selected</targetReference>
            </connector>
            <label>pastYear</label>
        </rules>
        <rules>
            <name>sameFiscalYear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Plan_Records_for_same_fiscal_year</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Same_Fiscal_Year</targetReference>
            </connector>
            <label>sameFiscalYear</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_record_is_created_or_updated</name>
        <label>Check if record is created or updated</label>
        <locationX>853</locationX>
        <locationY>585</locationY>
        <defaultConnector>
            <targetReference>Account_Plan_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_past_year_account_plan_is_being_created</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Account_is_changed</name>
        <label>If Account is changed</label>
        <locationX>1502</locationX>
        <locationY>1475</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new_Account_has_AP_with_same_fiscal_Year</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_record_with_same_fiscal_year</name>
        <label>Is there record with same fiscal year</label>
        <locationX>1756</locationX>
        <locationY>537</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rec_with_same_fiscal_year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Plan_Records_for_same_fiscal_year</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Error_for_same_fiscal_year</targetReference>
            </connector>
            <label>rec with same fiscal year</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_Account_has_AP_with_same_fiscal_Year</name>
        <label>new Account has AP with same fiscal Year</label>
        <locationX>1266</locationX>
        <locationY>1740</locationY>
        <defaultConnector>
            <targetReference>Get_SAM_Account_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>same_fiscal_year_on_updated_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Plan_Records_for_same_fiscal_year</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>same_fiscal_year_error</targetReference>
            </connector>
            <label>same fiscal year on updated account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validations</name>
        <label>Validations</label>
        <locationX>1018</locationX>
        <locationY>1091</locationY>
        <defaultConnector>
            <targetReference>If_Account_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BUC_Record_Doesnt_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BUC_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BUC_Record_Required</targetReference>
            </connector>
            <label>BUC Record Doesn&apos;t Exist</label>
        </rules>
        <rules>
            <name>Account_Team_Member_Doesnt_Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CBH__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CE_Head__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KAM_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TL_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAM_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAM_TL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Team_Member_Error</targetReference>
            </connector>
            <label>Account Team Member Doesn&apos;t Exist</label>
        </rules>
        <rules>
            <name>Action_Plan_doesnt_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_from_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Plan_Error</targetReference>
            </connector>
            <label>Action Plan doesn&apos;t exist</label>
        </rules>
        <rules>
            <name>Multiple_Account_Plan_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Submitted_Account_Plan_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Account_Plan_Error</targetReference>
            </connector>
            <label>Multiple Account Plan Submitted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>isPastYear</name>
        <dataType>Boolean</dataType>
        <expression>OR(
TEXT({!$Record__Prior.Fiscal_Year__c}) &lt; TEXT(YEAR({!$Flow.CurrentDate})),
TEXT({!$Record.Fiscal_Year__c}) &lt; TEXT(YEAR({!$Flow.CurrentDate}))
)</expression>
    </formulas>
    <formulas>
        <name>PastYearWhileCreation</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!$Record.Fiscal_Year__c}) &lt; TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>AccountPlan_BeforeTriggerFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountPlan_BeforeTriggerFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Plan_Records_for_same_fiscal_year</name>
        <label>Get Account Plan Records for same fiscal year</label>
        <locationX>845</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_record_is_created_or_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fiscal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fiscal_Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_from_Task</name>
        <label>Get Action Plan from Task</label>
        <locationX>1018</locationX>
        <locationY>983</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ARTL_Account_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_from_Task.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BUC_Records</name>
        <label>Get BUC Records</label>
        <locationX>1018</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_from_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fiscal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fiscal_Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bottom_Up_Construct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_from_Task</name>
        <label>Get Record Type from Task</label>
        <locationX>1018</locationX>
        <locationY>875</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_from_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ARTL_Action_Plan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SAM_Account_Team_Member</name>
        <label>Get SAM Account Team Member</label>
        <locationX>842</locationX>
        <locationY>1859</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Voice_KAM_Account_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitted_Account_Plan_Records</name>
        <label>Get Submitted Account Plan Records</label>
        <locationX>1173</locationX>
        <locationY>625</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BUC_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Plan_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Plan_Records_for_same_fiscal_year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voice_KAM_Account_Team_Member</name>
        <label>Get Voice KAM Account Team Member</label>
        <locationX>842</locationX>
        <locationY>1967</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice KAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fields</name>
        <label>Update Fields</label>
        <locationX>842</locationX>
        <locationY>2075</locationY>
        <inputAssignments>
            <field>CBH__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Owner.Manager.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CE_Head__c</field>
            <value>
                <elementReference>Get_SAM_Account_Team_Member.User.Manager.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KAM_Name__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Markets_Customers__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Markets_Customers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Products_Services__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Products_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RM_Name_Voice__c</field>
            <value>
                <elementReference>Get_Voice_KAM_Account_Team_Member.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RM_TL_Name__c</field>
            <value>
                <elementReference>Get_Voice_KAM_Account_Team_Member.User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAM_Name__c</field>
            <value>
                <elementReference>Get_SAM_Account_Team_Member.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAM_TL__c</field>
            <value>
                <elementReference>Get_SAM_Account_Team_Member.User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TL_Name__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Owner.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_User_Details</targetReference>
        </connector>
        <object>Account_Plan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
