force-app/main/default/flows/After_Created_Updated_Opportunity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Escalation_Email_To_BSG_TL</name>
        <label>Send Escalation Email To BSG TL</label>
        <locationX>930</locationX>
        <locationY>600</locationY>
        <actionName>Opportunity.Escalation_Alert_Unattended_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Escalation_Alert_Unattended_Opportunity</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_BSG_TL_in_Opportunity_Team</name>
        <label>Check BSG TL in Opportunity Team</label>
        <locationX>446</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Coverage_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_BSG_TL_is_not_added_in_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BSG_User__r.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_BSG_TL_User_in_Opportunity_Team_Manager</targetReference>
            </connector>
            <label>if BSG TL is not added in Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_BSG_hasn_t_take_any_action</name>
        <label>Check if BSG hasn&apos;t take any action</label>
        <locationX>1260</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_BSG_Remark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BSG_Remarks__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Team_Member</targetReference>
            </connector>
            <label>Check BSG Remark</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_BSG_TL_is_added_in_Opportunity_Team_Member</name>
        <label>Check if BSG TL is added in Opportunity Team Member</label>
        <locationX>1062</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_BSG_TL_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Escalation_Email_To_BSG_TL</targetReference>
            </connector>
            <label>If BSG TL found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_BSG_User_is_a_TL</name>
        <label>Check if BSG User is a TL</label>
        <locationX>248</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Add_BSG_User_in_Opportunity_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_BSG_TL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BSG_User__r.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_BSG_TL_User_in_Opportunity_Team</targetReference>
            </connector>
            <label>if BSG TL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether a DSG is present and active</description>
        <name>CheckForActiveDSGOnAccount</name>
        <label>CheckForActiveDSGOnAccount</label>
        <locationX>501</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>When_BSG_assigned_to_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_DSG_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ARTL_DSG_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ARTL_DSG_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Team_Member</targetReference>
            </connector>
            <label>Active DSG Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_BSG_assigned_to_Opportunity</name>
        <label>When BSG assigned to Opportunity</label>
        <locationX>501</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Coverage_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_BSG_User_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BSG_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BSG_User__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_BSG_User_is_a_TL</targetReference>
            </connector>
            <label>Check if BSG User is changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BSGTaskDueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.BSG_Tagged_Time__c} + 3</expression>
    </formulas>
    <interviewLabel>After Created/Updated Opportunity Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Created/Updated Opportunity Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_BSG_TL_User_in_Opportunity_Team</name>
        <label>Add BSG TL User in Opportunity Team</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Update_Account_Coverage_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>BSG TL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.BSG_User__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_BSG_TL_User_in_Opportunity_Team_Manager</name>
        <label>Add BSG TL User in Opportunity Team( Manager )</label>
        <locationX>314</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Update_Account_Coverage_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>BSG TL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.BSG_User__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_BSG_User_in_Opportunity_Team</name>
        <label>Add BSG User in Opportunity Team</label>
        <locationX>446</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Create_a_Task_for_BSG_USer</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>BSG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.BSG_User__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_for_BSG_USer</name>
        <label>Create a Task for BSG USer</label>
        <locationX>446</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Get_Opportunity_Team_Members</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>BSGTaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.BSG_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Opportunity Assigned to BSG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a new record for DSG as a account team member</description>
        <name>Create_Account_Team_Member</name>
        <label>Create Account Team Member</label>
        <locationX>369</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>When_BSG_assigned_to_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>DSG Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.Account.ARTL_DSG_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Team_Member</name>
        <label>Get Opportunity Team Member</label>
        <locationX>1062</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_BSG_TL_is_added_in_Opportunity_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BSG TL</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Team_Members</name>
        <label>Get Opportunity Team Members</label>
        <locationX>446</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BSG_TL_in_Opportunity_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BSG TL</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BSG_User__r.ManagerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Coverage_Date</name>
        <label>Update Account Coverage Date</label>
        <locationX>501</locationX>
        <locationY>1584</locationY>
        <inputAssignments>
            <field>Last_Account_Coverage_DateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>754</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckForActiveDSGOnAccount</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Send_Escalation_Email</name>
            <connector>
                <targetReference>Check_if_BSG_hasn_t_take_any_action</targetReference>
            </connector>
            <label>Send Escalation Email</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>BSG_Tagged_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
