force-app/main/default/flows/ARTL_Account_Integration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Approval_Notification</name>
        <label>Send Approval Notification</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GetOwnerID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Update on your Approval Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Your Account Request is been Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_Notification</name>
        <label>Send Rejection Notification</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GetOwnerID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Update on your Approval Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Your Account Request is been Rejected. Please visit the record to see the details</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>512</locationX>
        <locationY>1139</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Airtel_Account_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Get_Owner_ID</name>
        <label>Get Owner ID</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>GetOwnerID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Approval_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_OwnerIDs</name>
        <label>Get OwnerIDs</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>GetOwnerID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Rejection_Notification</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Billing_Address_Incomplete</name>
        <label>Billing Address Incomplete</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Please fill the complete Billing Address before submitting for Approval</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Identification_Type_Error</name>
        <label>Identification Type Error</label>
        <locationX>2954</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Please select Identification Type before submitting for Approval</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>PAN_Error</name>
        <label>PAN Error</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Please fill and validate the PAN number before submitting for Approval</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Segment_Error</name>
        <label>Segment Error</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Please fill the complete Segment Information before submitting for Approval</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>TAN_Error</name>
        <label>TAN Error</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Please fill the TAN number before submitting for Approval</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_OIM_Id_is_null</name>
        <label>Check if OIM Id is null</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_Owner_OLM_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Airtel Thanks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Airtel Works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_user_record</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>OLM_Id_is_null</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ARTL_Owner_OLM_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Airtel Thanks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Airtel Works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>OLM Id is null</label>
        </rules>
        <rules>
            <name>Customer_Class_EGB</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EGB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Customer Class EGB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Record_is_New</name>
        <label>Check If Record is New</label>
        <locationX>2393</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Number</targetReference>
            </connector>
            <label>NewRecord</label>
        </rules>
        <rules>
            <name>Status_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>Status is Changed</label>
        </rules>
        <rules>
            <name>Status_as_Pending_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_for_Approval_Process</targetReference>
            </connector>
            <label>Status as Pending Approval</label>
        </rules>
        <rules>
            <name>DSG_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ARTL_DSG_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Account_Team_Members</targetReference>
            </connector>
            <label>DSG Change</label>
        </rules>
        <rules>
            <name>PAN_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ARTL_PAN__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_IsPANVerified</targetReference>
            </connector>
            <label>PAN is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForActiveDSGOwner</name>
        <label>CheckForActiveDSGOwner</label>
        <locationX>3614</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ActiveDSGOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ARTL_DSG_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_DSG_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_DSG_as_Account_Team_Member</targetReference>
            </connector>
            <label>ActiveDSGOwner</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Old_Account_Team_Members_Present</name>
        <label>If Old Account Team Members Present</label>
        <locationX>3614</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Delete_Old_DSG_Owner_from_Account_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Old_Team_Members_present_for_deletion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckForActiveDSGOwner</targetReference>
            </connector>
            <label>Old Team Members present for deletion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_Type</name>
        <label>Notification Type</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Owner_ID</targetReference>
            </connector>
            <label>Status is Approve</label>
        </rules>
        <rules>
            <name>Status_is_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OwnerIDs</targetReference>
            </connector>
            <label>Status is Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_record_exists</name>
        <label>User record exists</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Submit_for_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_record_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_user_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_owner_on_Account</targetReference>
            </connector>
            <label>User record is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_for_Approval_Process</name>
        <label>Validation for Approval Process</label>
        <locationX>2558</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Address_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Billing_Address_Incomplete</targetReference>
            </connector>
            <label>Billing Address Check</label>
        </rules>
        <rules>
            <name>Segment_Information_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ARTL_Business_Circle_Region__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_Category__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_Service_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_Vertical_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Segment_Error</targetReference>
            </connector>
            <label>Segment Information Check</label>
        </rules>
        <rules>
            <name>PAN_Check</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ARTL_Identification_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_PAN__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_IsPANVerified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PAN_Error</targetReference>
            </connector>
            <label>PAN Check</label>
        </rules>
        <rules>
            <name>TAN_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ARTL_Identification_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_TAN__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>TAN_Error</targetReference>
            </connector>
            <label>TAN Check</label>
        </rules>
        <rules>
            <name>Identification_Type_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ARTL_Identification_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Identification_Type_Error</targetReference>
            </connector>
            <label>Identification Type Check</label>
        </rules>
    </decisions>
    <description>SFDC-87,14,9
IK- SFDC-9 : Update Formatted Account Number based on record type
IK- SFDC-2644: DSG owner update
AK-SFDC-3197: AccountNumber update
SR-Update IsPANVerified to false when PAN is changed
IK- PAN Number Upper case
Deepak - SFDC-3435 - Replacing Customer Class to Business Unit
Rishab - SFDC-9 - Modified account number prefixes</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>PANLowerCaseValue</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.ARTL_PAN__c})</expression>
    </formulas>
    <formulas>
        <name>PANUpperCaseValue</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.ARTL_PAN__c})</expression>
    </formulas>
    <formulas>
        <name>UpdatedAccountNumber</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.RecordType.DeveloperName} == &apos;Business&apos;,&apos;11-9&apos;+{!$Record.Account_Number__c} , IF({!$Record.RecordType.DeveloperName} == &apos;Billing&apos;,&apos;21-9&apos;+{!$Record.Account_Number__c}, IF({!$Record.RecordType.DeveloperName} == &apos;BillingAggregator&apos;,&apos;31-9&apos;+{!$Record.Account_Number__c} , IF({!$Record.RecordType.DeveloperName} == &apos;Service&apos;,&apos;32-9&apos;+{!$Record.Account_Number__c},&apos;&apos;))) )</expression>
    </formulas>
    <interviewLabel>ARTL_Account Integration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARTL_Account Integration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_DSG_as_Account_Team_Member</name>
        <label>Create DSG as Account Team Member</label>
        <locationX>3482</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>DSG Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.ARTL_DSG_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>Deletes old DSG owner account team member record</description>
        <name>Delete_Old_DSG_Owner_from_Account_Team</name>
        <label>Delete Old DSG Owner from Account Team</label>
        <locationX>3702</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>CheckForActiveDSGOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ARTL_DSG_Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DSG Owner</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ARTL_Account_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Account_Team_Members</name>
        <label>Get Old Account Team Members</label>
        <locationX>3614</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Old_Account_Team_Members_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DSG Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get user based on OLM Id</description>
        <name>Get_user_record</name>
        <label>Get user record</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_record_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ARTL_Owner_OLM_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Number</name>
        <label>Update Account Number</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_if_OIM_Id_is_null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>UpdatedAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_IsPANVerified</name>
        <label>update IsPANVerified</label>
        <locationX>4010</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ARTL_IsPANVerified__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTL_PAN__c</field>
            <value>
                <elementReference>PANUpperCaseValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_owner_on_Account</name>
        <label>Update owner on Account</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_user_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2267</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Record_is_New</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetOwnerID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OldAccountTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
</Flow>
