force-app/main/default/flows/ARTL_Create_inflight_Cancel_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calling_Order_Cancel_IP</name>
        <label>Calling Order Cancel IP</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>ARTL_CreateInflightCancelOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Status_to_Rejected_by_PM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>b2bExpress_CancelSubOrder</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ARTL_CreateInflightCancelOrder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>check_Rejection_Reason</name>
        <label>check Rejection Reason</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejection_Reason</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ARTL_locRejectionReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Denied –Business Plan Changed-PM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_locRejectionReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer End Hardware Pending-NSG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_locRejectionReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Denied –Service Issue-NSG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_locRejectionReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Denied –Billing Concern-PM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_locRejectionReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Denied –Location Shifted-PM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_locRejectionReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Denied –Delay in Delivery-PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Rejected_by_PM</targetReference>
            </connector>
            <label>Rejection Reason</label>
        </rules>
        <rules>
            <name>Rejection_Reason2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ARTL_locRejectionReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer End Testing Pending –NSG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_locRejectionReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Denied –B/W throughput issue-NSG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_locRejectionReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Denied-Link Not Tested-NSG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calling_Order_Cancel_IP</targetReference>
            </connector>
            <label>Rejection Reason2</label>
        </rules>
    </decisions>
    <description>SFDC-303: When PM update the &quot;Rejection Category&quot; as &quot;Valid&quot;, Create a inflight Cancel Order and submit it</description>
    <environments>Default</environments>
    <interviewLabel>ARTL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARTL Create inflight Cancel Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Status_Rejected_by_PM</name>
        <label>Update Status Rejected by PM</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected by PM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Rejected_by_PM</name>
        <label>Update Status to Rejected by PM</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected by PM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Rejection_Reason</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>ARTL_Rejection_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_locRejectionReason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_Rejection_Category__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOC</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
