force-app/main/default/flows/ARTL_Deemed_LOC_Accepted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>CheckConditions</name>
        <label>CheckConditions</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfAccepted</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VEPC_E_IIL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VEPC_E_MPLS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VEPC_SECONDARY_LINK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VEPC_SECONDARY_MPLS_LINK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTaskRecords</targetReference>
            </connector>
            <label>IfAccepted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ARTL_Deemed LOC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARTL_Deemed LOC Accepted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateTaskRecords</name>
        <label>UpdateTaskRecords</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>(1 AND (2 OR 3)) OR 4</filterLogic>
        <filters>
            <field>ARTL_ParentTaskId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ARTL_ParentTaskId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM upload LOC/Rejection</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOC validation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckConditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOC to customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_locAcceptanceCriteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deemed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
