force-app/main/default/flows/ARTL_Create_Tasks_When_Today_Demo_Expiry_7.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Demo_Order_Email_Alert_to_KAM</name>
        <label>Demo Order Email Alert to KAM</label>
        <locationX>308</locationX>
        <locationY>1032</locationY>
        <actionName>Order.Demo_Order_Email_Alert_For_KAM_User</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.Demo_Order_Email_Alert_For_KAM_User</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Mail_to_Customer_User</name>
        <label>Send Mail to Customer User</label>
        <locationX>308</locationX>
        <locationY>924</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Demo_Order_Email_Alert_to_KAM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.vlocity_cmt__PrimaryContactId__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ARTLDemoEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.vlocity_cmt__PrimaryContactId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Email_Template_For_Customer_User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Task_For_Customer_User</name>
        <label>Task For Customer User</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>TaskForCustomerUser.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskForCustomerUser.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> Demo Order Expiry Notification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskForCustomerUser.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> Demo Order Expiry Notification for Order Demo Expiry Date have reached.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskForCustomerUser.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.vlocity_cmt__PrimaryContactId__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskForCustomerUser.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_KAM_User</name>
        <label>Task For KAM User</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>TaskForKAMUser.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskForKAMUser.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> Demo Order Expiry Notification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskForKAMUser.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> Demo Order Expiry Notification for Order Demo Expiry Date have reached.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskForKAMUser.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskForKAMUser.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_For_Customer_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tasks</name>
        <label>Tasks</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>TasksCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskForCustomerUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskForKAMUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ARTLDemoEmailSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Demo Order Expiry Notification</stringValue>
        </value>
    </constants>
    <description>If Today() = Demo Expiry Date - 7,
System will create tasks and send auto-communications respectively to the KAM and the Customer Contact</description>
    <environments>Default</environments>
    <formulas>
        <name>TodayPlusSevenDays</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel>Create Tasks When Today = Demo Expiry - 7 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tasks When Today = Demo Expiry - 7</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Email_Template_For_Customer_User</targetReference>
        </connector>
        <inputReference>TasksCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Email_Template_For_Customer_User</name>
        <label>Email Template For Customer User</label>
        <locationX>308</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Template_For_KAM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo_Order_Expiration_Notification_Email_Template_For_Customer_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Email_Template_For_KAM_User</name>
        <label>Email Template For KAM User</label>
        <locationX>308</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Mail_to_Customer_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo_Order_Expiration_Notification_Email_Template_For_KAM_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ARTL_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Before7Days</name>
            <connector>
                <targetReference>Task_For_KAM_User</targetReference>
            </connector>
            <label>Before_7_Days</label>
            <offsetNumber>-7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ARTL_Demo_Expiry_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DemoOrderExpirationNotificationEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Customer_Name__c} , &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Demo Order &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.OrderNumber}&lt;/span&gt; is about to expire on {!$Record.ARTL_Demo_Expiry_Date__c}. Kindly confirm your acceptance or otherwise exercise the option to reject through this&amp;nbsp;&lt;a href=&quot;https://business-force-5632--artldevp2.sandbox.lightning.force.com/lightning/cmp/vlocity_cmt__vlocityLWCOmniWrapper?c__target=c:aRTLDemoOrderRequestStatusEnglish&amp;amp;c__layout=lightning&amp;amp;c__tabIcon=custom:custom18&amp;amp;c__tabLabel=DemoOrderRequestStatus&amp;amp;c__ContextId={!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;l﻿ink.&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>TaskForCustomerUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskForKAMUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TasksCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
