force-app/main/default/flows/ARTL_Deemed_LOC_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Deemed LOC Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARTL_Deemed LOC Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_LOC_to_customer</name>
        <label>Create Task LOC to customer</label>
        <locationX>452</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>GetPMOGroupId</targetReference>
        </connector>
        <inputAssignments>
            <field>ARTL_ParentTaskId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTL_TaskType__c</field>
            <value>
                <stringValue>LOC to customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTL_locAcceptanceCriteria__c</field>
            <value>
                <stringValue>Deemed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Line_Item__c</field>
            <value>
                <elementReference>$Record.Quote_Line_Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>LOC to customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_LOC_validation</name>
        <label>Create Task LOC validation</label>
        <locationX>452</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>ARTL_ParentTaskId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTL_TaskType__c</field>
            <value>
                <stringValue>LOC validation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTL_locAcceptanceCriteria__c</field>
            <value>
                <stringValue>Deemed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetPMOGroupId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Line_Item__c</field>
            <value>
                <elementReference>$Record.Quote_Line_Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>LOC validation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_PM_upload_LOC_Rejection</name>
        <label>Create Task PM upload LOC/Rejection</label>
        <locationX>452</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Create_Task_LOC_to_customer</targetReference>
        </connector>
        <inputAssignments>
            <field>ARTL_ParentTaskId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTL_TaskType__c</field>
            <value>
                <stringValue>PM upload LOC/Rejection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTL_locAcceptanceCriteria__c</field>
            <value>
                <stringValue>Deemed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Line_Item__c</field>
            <value>
                <elementReference>$Record.Quote_Line_Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>PM upload LOC/Rejection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetPMOGroupId</name>
        <label>GetPMOGroupId</label>
        <locationX>452</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_LOC_validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMO_Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_Task_PM_upload_LOC_Rejection</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6) AND 7</filterLogic>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM approval for LoC</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_locAcceptanceCriteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deemed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VEPC_E_IIL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VEPC_E_MPLS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VEPC_SECONDARY_LINK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VEPC_SECONDARY_MPLS_LINK</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_locAcceptanceCriteria__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
