force-app/main/default/flows/ARTL_Generate_LSI_For_NIPS_Hardware.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_LSI</name>
        <label>Generate LSI</label>
        <locationX>934</locationX>
        <locationY>358</locationY>
        <actionName>ARTL_GenerateLSIForNIPSHardware</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckForOrderUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ARTL_GenerateLSIForNIPSHardware</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>array</name>
        <dataType>String</dataType>
        <value>
            <stringValue>test,test1,test2</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt</name>
        <dataType>String</dataType>
        <value>
            <stringValue>test</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckForOrderUpdate</name>
        <label>CheckForOrderUpdate</label>
        <locationX>672</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsOrderUpdate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__ParentItemId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_root_product_metadata</targetReference>
            </connector>
            <label>IsOrderUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkProduct</name>
        <label>checkProduct</label>
        <locationX>804</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Metadata_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isContains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Metadata_Loop.artl_Product_Codes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Product2.ProductCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <label>isContains</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOrderProductUpdate</name>
        <label>IsOrderProductUpdate</label>
        <locationX>576</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Generate_Apex_Call</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dac49a09-9b41-4999-b7c4-cf6319ad5b44</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>c09a2e70-64af-4ad6-8427-06c8489234d7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>c9958738-b03b-4ca7-b122-d732cf1e0f40</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_LSI</targetReference>
            </connector>
            <label>Generate Apex Call</label>
        </rules>
        <rules>
            <name>BothConditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__ParentItemId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dac49a09-9b41-4999-b7c4-cf6319ad5b44</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>c09a2e70-64af-4ad6-8427-06c8489234d7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_LSI</targetReference>
            </connector>
            <label>BothConditions</label>
        </rules>
        <rules>
            <name>orderUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__ParentItemId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_root_product_metadata</targetReference>
            </connector>
            <label>orderUpdate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generate LSI For NIPS Hardware {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate LSI For NIPS Hardware</label>
    <loops>
        <name>Metadata_Loop</name>
        <label>Metadata Loop</label>
        <locationX>584</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_root_product_metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkProduct</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_root_product_metadata</name>
        <label>Get root product metadata</label>
        <locationX>584</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Metadata_Loop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ARTL_Root_Product_On_Order__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update order for root order product</description>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>672</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ARTL_Root_ProductCode__c</field>
            <value>
                <elementReference>Metadata_Loop.Label</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IsOrderProductUpdate</targetReference>
        </connector>
        <filterFormula>IF((({!$Record.Product2.ProductCode}==&apos;dac49a09-9b41-4999-b7c4-cf6319ad5b44&apos;||{!$Record.Product2.ProductCode}==&apos;c09a2e70-64af-4ad6-8427-06c8489234d7&apos;||{!$Record.Product2.ProductCode}==&apos;c9958738-b03b-4ca7-b122-d732cf1e0f40&apos;)||(ISBLANK({!$Record.vlocity_cmt__ParentItemId__c})) ), True, False)</filterFormula>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
