force-app/main/default/flows/ARTL_Notify_PM_On_Inbound_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendNotification</name>
        <label>SendNotification</label>
        <locationX>496</locationX>
        <locationY>1027</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificationRecs.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>PMUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Task Assigned To You</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New Task Assigned With Task Type {!$Record.ARTL_TaskType__c}  {!varRelatedTo}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignPM</name>
        <label>AssignPM</label>
        <locationX>496</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference>PMUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Task_RelatedTo</name>
        <label>Map Task RelatedTo</label>
        <locationX>783</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>varRelatedTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNotificationRecs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Task_RelatedTo_Value</name>
        <label>Map Task RelatedTo Value</label>
        <locationX>495</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>varRelatedTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Details.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNotificationRecs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Task_s_RelatedTo_is_Order</name>
        <label>Validate Task&apos;s RelatedTo is Order</label>
        <locationX>761</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Map_Task_RelatedTo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Task_realtedto_order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsTaskRelatedToOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Details</targetReference>
            </connector>
            <label>check Task realtedto order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsTaskRelatedToOrder</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(NOT(ISBLANK({!$Record.WhatId})),BEGINS({!$Record.WhatId},&quot;801&quot;)), true, false)</expression>
    </formulas>
    <interviewLabel>ARTL_Notify PM On Inbound Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARTL_Notify PM On Inbound Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>495</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Map_Task_RelatedTo_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificationRecs</name>
        <label>GetNotificationRecs</label>
        <locationX>496</locationX>
        <locationY>683</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignPM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM_Approval_Task_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Validate_Task_s_RelatedTo_is_Order</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM approval for LoC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM Workways</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM NW Jeopardy</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PR</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PO</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MRR</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RA</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Task</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PMUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
