force-app/main/default/flows/ARTL_Update_Quote_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Count_Sub_Orders</name>
        <label>Count Sub Orders</label>
        <locationX>647</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>SubOrderCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sub_Order_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Order_master_order</name>
        <label>check Order master order</label>
        <locationX>584</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isMasterOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sub_Orders</targetReference>
            </connector>
            <label>isMasterOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Members_and_Sub_orders_count</name>
        <label>Check Quote Members and Sub orders count</label>
        <locationX>381</locationX>
        <locationY>773</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsGreaterOr_Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubOrderCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Quote.ARTL_Quote_Members_Count__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status</targetReference>
            </connector>
            <label>IsGreaterOr Equal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Quote Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Quote Status</label>
    <loops>
        <name>Sub_Order_Loop</name>
        <label>Sub Order Loop</label>
        <locationX>391</locationX>
        <locationY>629</locationY>
        <collectionReference>Get_Sub_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Sub_Orders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Quote_Members_and_Sub_orders_count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sub_Orders</name>
        <label>Get Sub Orders</label>
        <locationX>452</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sub_Order_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sub Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>vlocity_cmt__ParentOrderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.vlocity_cmt__ParentOrderId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Status</name>
        <label>Update Quote Status</label>
        <locationX>553</locationX>
        <locationY>772</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Order Created</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>check_Order_master_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ARTL_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sub Order</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SubOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
