force-app/main/default/flows/ARTL_Lead_SetOwner_N_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post</name>
        <label>Chatter Post</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <actionName>ARTL_PostToChatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_User</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>Get_Update_Lead_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ARTL_PostToChatter</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Chatter_Post</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varListOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>A new lead is assigned to you</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>A new lead is assigned to you</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Update_Lead_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Get_Owner_IDs</name>
        <label>Get Owner IDs</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>varListOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Update_Lead_Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>600</locationX>
        <locationY>596</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Lead_Record.Related_Account__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Lead_Record.Related_Account__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner</targetReference>
            </connector>
            <label>Present</label>
        </rules>
        <rules>
            <name>Account_Absent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Lead_Record.Related_Account__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Lead_Record.Related_Account__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Account Absent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Created_By</name>
        <label>Check Created By</label>
        <locationX>182</locationX>
        <locationY>1022</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_as_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Lead_Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Copy_1_of_Get_Lead_Record.Related_Account__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification</targetReference>
            </connector>
            <label>Same as Owner</label>
        </rules>
        <rules>
            <name>Different_Than_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Lead_Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Copy_1_of_Get_Lead_Record.Related_Account__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Lead</targetReference>
            </connector>
            <label>Different Than Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Notification</name>
        <label>Check Notification</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notification_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Update_Lead_Record</targetReference>
            </connector>
            <label>Notification Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConfirmationYesOrNo</name>
        <label>ConfirmationYesOrNo</label>
        <locationX>1007</locationX>
        <locationY>590</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesProceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesOrNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account</targetReference>
            </connector>
            <label>YesProceed</label>
        </rules>
        <rules>
            <name>NoStop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesOrNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>NoStop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Qualified</name>
        <label>Lead Qualified</label>
        <locationX>997</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>LeadNotQualifiedErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Lead_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Lead_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadOwnerAccOnwerSame</targetReference>
            </connector>
            <label>Check Lead Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeadOwnerAccOnwerSame</name>
        <label>LeadOwnerAccOnwerSame</label>
        <locationX>744</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Owner_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Owner_Lead_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Lead_Record.ARTL_Account_Owner_Equals_Lead_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ARTL_Confirmation</targetReference>
            </connector>
            <label>Check Owner Lead Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>chatterPostFormulla</name>
        <dataType>String</dataType>
        <expression>&quot;A new Lead &quot; + {!Get_Update_Lead_Record.LastName} + &quot;is assigned to you. Please take the necessary actions as required. &quot;+
LEFT( 
{!$Api.Partner_Server_URL_140}, FIND( &quot;.com/&quot;, {!$Api.Partner_Server_URL_140} ) + 3 
)</expression>
    </formulas>
    <interviewLabel>ARTL_Lead_SetOwner_N_Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>ARTL_Lead_SetOwner_N_Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Share_Lead</name>
        <label>Copy 1 of Share Lead</label>
        <locationX>666</locationX>
        <locationY>1130</locationY>
        <connector>
            <targetReference>Confirmation_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Copy_1_of_Get_Lead_Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_Lead</name>
        <label>Share Lead</label>
        <locationX>138</locationX>
        <locationY>1130</locationY>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Copy_1_of_Get_Lead_Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Lead_Record</name>
        <label>Copy 1 of Get Lead Record</label>
        <locationX>1007</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Qualified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>666</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_To_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending_Account_Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Update_Lead_Record</name>
        <label>Get Update Lead Record</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>182</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Check_Created_By</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_Lead_Record.Related_Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_To_Queue</name>
        <label>Update Owner To Queue</label>
        <locationX>666</locationX>
        <locationY>1022</locationY>
        <connector>
            <targetReference>Copy_1_of_Share_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ARTL_Confirmation</name>
        <label>Confirmation</label>
        <locationX>1237</locationX>
        <locationY>423</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConfirmationYesOrNo</targetReference>
        </connector>
        <fields>
            <name>YesOrNo</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to change assignment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Queue</name>
        <label>Confirmation</label>
        <locationX>666</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AssignedQueueText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Lead has been assigned to Pending Account Lead Queue as either Related Account is blank or Account KAM is inactive.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_User</name>
        <label>Confirmation</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UserAssignedText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Lead has been assigned to Account&apos;s KAM.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LeadNotQualifiedErrorScreen</name>
        <label>Error Screen</label>
        <locationX>707</locationX>
        <locationY>264</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LeadNotQualifiedMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 24, 24);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(234, 30, 30);&quot;&gt;You cannot assign the Lead to KAM when the Status is not Qualified.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Error_Message</name>
        <label>Error Message</label>
        <locationX>477</locationX>
        <locationY>474</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LeadOwnerAccOwnerSame</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 17, 17);&quot;&gt;Lead cannot be assigned as the Lead Owner is Same as Account Owner.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>881</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Lead_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterPost</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new Lead&lt;a href=&quot;{!Get_Update_Lead_Record.Name}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Update_Lead_Record.Name} &lt;/a&gt;is assigned to you. Please take the necessary actions as required&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PostChatter</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new Lead &lt;a href=&quot;{!chatterPostFormulla}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Update_Lead_Record.LastName}&lt;/a&gt; is assigned to you. Please take the necessary actions as required&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varListOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
