force-app/main/default/flows/ARTL_Send_Email_to_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Deemed_Email</name>
        <label>Send Deemed Email</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>ARTL_TaskEmailController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_LOC_Sent_Date</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailType</name>
            <value>
                <stringValue>DeemedEmail</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskrecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>LOC_Deemed_acceptance_mail_Primary_Sec</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ARTL_TaskEmailController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Non_Deemed_Email</name>
        <label>Send Non Deemed Email</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>ARTL_TaskEmailController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_LOC_Sent_Date</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailType</name>
            <value>
                <stringValue>NonDeemedEmail</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskrecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Non_Deemed_LOC</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ARTL_TaskEmailController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>check_status</name>
        <label>check status</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Update_LOC_Sent_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>emailforDeemed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.ARTL_LOC_Trigger_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.ARTL_locAcceptanceCriteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deemed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Deemed_Email</targetReference>
            </connector>
            <label>emailforDeemed</label>
        </rules>
        <rules>
            <name>emailfornondeemed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.ARTL_LOC_Trigger_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.ARTL_locAcceptanceCriteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Deemed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Non_Deemed_Email</targetReference>
            </connector>
            <label>emailfornondeemed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ARTL Send Email to Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARTL Send Email to Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_LOC_Sent_Date</name>
        <label>Update LOC Sent Date</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Send_Email_to_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ARTL_LOC_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Send_Email_to_Customer</name>
        <label>Send Email to Customer</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SendEmailtoCustomer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Successfully email send to Customer.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
