force-app/main/default/flows/ARTL_CreateRATask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateRATask</name>
        <label>CreateRATask</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>ARTL_CreateTaskForNIPS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>masterOrderId</name>
            <value>
                <elementReference>$Record.Master_Order__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MrrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskType</name>
            <value>
                <stringValue>RA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ARTL_CreateTaskForNIPS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>CheckTask</name>
        <label>CheckTask</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TaskNotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRATask</targetReference>
            </connector>
            <label>TaskNotExists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ARTL_CreateRATask {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARTL_CreateRATask</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSubOrderId</name>
        <label>GetSubOrderId</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__ParentOrderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Master_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTask</name>
        <label>GetTask</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RA</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSubOrderId.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>TaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSubOrderId</targetReference>
        </connector>
        <object>Material_Received_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
