force-app/main/default/flows/ARTL_Deemed_LOC_PM_Upload_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Status_of_Task</name>
        <label>Check Status of Task</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Is_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ARTL_locAcceptanceCriteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deemed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LOC_validation_Task</targetReference>
            </connector>
            <label>Status Is Complete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ARTL_Deemed LOC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARTL_Deemed LOC PM Upload Complete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PM_upload_LOC_Rejection_Task</name>
        <label>Get PM upload LOC/Rejection Task</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status_of_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ARTL_ParentTaskId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM upload LOC/Rejection</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LOC_validation_Task</name>
        <label>Update LOC validation Task</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ARTL_ParentTaskId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOC validation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PM_upload_LOC_Rejection_Task</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6) AND 7</filterLogic>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM approval for LoC</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_locAcceptanceCriteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deemed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VEPC_E_IIL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VEPC_E_MPLS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VEPC_SECONDARY_LINK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VEPC_SECONDARY_MPLS_LINK</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_locAcceptanceCriteria__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
