force-app/main/default/flows/Assigning_PM_To_Opportunity_handling_Fallout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fallout_Task_for_TL</name>
        <label>Fallout Task for TL</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationid.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>TL_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>PM Assignment Required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>PM Assignment Required for Opportunity {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Create_Task_for_TL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Fallout_Task_Assignment</name>
        <label>New Fallout Task Assignment</label>
        <locationX>534</locationX>
        <locationY>1787</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationid.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>PMOId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>PM Assignment Required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>PM Assignment Required for Opportunity {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Create_Task</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opp_Assignment_Notification</name>
        <label>Opp Assignment Notification</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationid.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Pm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>A New Opportunity is Assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>PMNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_PM_To_collection</name>
        <label>Assign PM To collection</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Pm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_PM_User_Matrix.PM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Assignment_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetPMOGroupIdFromGetRecord</name>
        <label>GetPMOGroupIdFromGetRecord</label>
        <locationX>534</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>PMOId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetPMOGroupId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getTLId</name>
        <label>getTLId</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TL_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_PM_User_Matrix.TL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fallout_Task_for_TL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checiking if a PM is available in account&apos;s Team</description>
        <name>Check_If_PM_is_available_in_Matrix</name>
        <label>Check If PM is available in Matrix</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>GetPMOGroupId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PM_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PM_User_Matrix.PM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PM_To_Opportunity</targetReference>
            </connector>
            <label>PM Available</label>
        </rules>
        <rules>
            <name>PM_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PM_User_Matrix.PM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PM_User_Matrix.TL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_TL</targetReference>
            </connector>
            <label>No PM but TL Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPMRecords</name>
        <label>CheckPMRecords</label>
        <locationX>534</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>GetPMOGroupId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PMRecordAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PM_User_Matrix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_PM_is_available_in_Matrix</targetReference>
            </connector>
            <label>PMRecordAvailable</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PMNotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Opportunity &apos; +{!$Record.Name}+ &apos; is assigned to you.&apos;</expression>
    </formulas>
    <interviewLabel>Assigning PM To Opportunity &amp; handling Fallout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assigning PM To Opportunity &amp; handling Fallout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AddOppSharing</name>
        <label>AddOppSharing</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Assign_PM_To_collection</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_PM_User_Matrix.PM__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>534</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>New_Fallout_Task_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetPMOGroupId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>PM Fallout</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_TL</name>
        <label>Create Task for TL</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>getTLId</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_PM_User_Matrix.TL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>PM Fallout</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PM_User_Matrix</name>
        <label>Get PM User Matrix</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPMRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PM_User_Matrix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCustomNotificationid</name>
        <label>GetCustomNotificationid</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PM_User_Matrix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_OpportunityQuote_Assigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPMOGroupId</name>
        <label>GetPMOGroupId</label>
        <locationX>534</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPMOGroupIdFromGetRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMO_Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_PM_To_Opportunity</name>
        <label>Assign PM To Opportunity</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>AddOppSharing</targetReference>
        </connector>
        <inputAssignments>
            <field>PM__c</field>
            <value>
                <elementReference>Get_PM_User_Matrix.PM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCustomNotificationid</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Pm</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PMO</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PMOId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TL_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
