force-app/main/default/flows/Bulk_Update_PM_User_Matrix.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>callupdateMatrixMethod</name>
        <label>callupdateMatrixMethod</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <actionName>ARTL_UpdatePMUserMatrix</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userWrapperList</name>
            <value>
                <elementReference>userWrapperListVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ARTL_UpdatePMUserMatrix</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addCCEtoList</name>
        <label>addCCEtoList</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>userWrapperListVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userWrapperVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>callupdateMatrixMethod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCPHtoList</name>
        <label>addCPHtoList</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>userWrapperListVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userWrapperVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setUserWrapperVarCCE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addPMtoList</name>
        <label>addPMtoList</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>userWrapperListVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userWrapperVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setUserWrapperVarTL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTLtoList</name>
        <label>addTLtoList</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>userWrapperListVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userWrapperVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setUserWrapperVarCPH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUserWrapperVarCCE</name>
        <label>setUserWrapperVarCCE</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>userWrapperVar.oldUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupOldCCE.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userWrapperVar.newUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupNewCCE.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userWrapperVar.userType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CCE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCCEtoList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUserWrapperVarCPH</name>
        <label>setUserWrapperVarCPH</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>userWrapperVar.oldUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookOldCPH.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userWrapperVar.newUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupNewCPH.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userWrapperVar.userType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CPH</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCPHtoList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUserWrapperVarPM</name>
        <label>setUserWrapperVarPM</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>userWrapperVar.oldUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupOldPM.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userWrapperVar.newUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupNewPM.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userWrapperVar.userType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addPMtoList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUserWrapperVarTL</name>
        <label>setUserWrapperVarTL</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>userWrapperVar.oldUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupOldTL.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userWrapperVar.newUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupNewTL.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userWrapperVar.userType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addTLtoList</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Bulk Update PM User Matrix {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Update PM User Matrix</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Success!</description>
        <name>SuccessScreen</name>
        <label>Success!</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success1</name>
            <fieldText>&lt;p&gt;Matrix Updated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Selection_Screen</name>
        <label>User Selection Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setUserWrapperVarPM</targetReference>
        </connector>
        <fields>
            <name>Change_PM</name>
            <fieldText>Change PM</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_PM_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookupOldPM</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>PM__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Old PM</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>PM_User_Matrix__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_PM_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookupNewPM</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>PM__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>PM_User_Matrix__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New PM</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Change_TL</name>
            <fieldText>Change TL</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_TL_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookupOldTL</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>PM_User_Matrix__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Old TL</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>TL__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_TL_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookupNewTL</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>PM_User_Matrix__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>TL__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New TL</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Change_CPH</name>
            <fieldText>Change CPH</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_CPH_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookOldCPH</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>PM_User_Matrix__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Old CPH</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CPH__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_CPH_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookupNewCPH</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>PM_User_Matrix__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New CPH</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CPH__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Change_CCE</name>
            <fieldText>Change CCE</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_CCE_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookupOldCCE</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>PM_User_Matrix__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CCE__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Old CCE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_CCE_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookupNewCCE</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>PM_User_Matrix__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New CCE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CCE__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Selection_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>userWrapperListVar</name>
        <apexClass>ARTL_PMUserMatrixWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userWrapperVar</name>
        <apexClass>ARTL_PMUserMatrixWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
