force-app/main/default/flows/Create_PM_approval_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>create_Approval_Task</name>
        <label>create Approval Task</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>ARTL_CreatePMApprovalTaskController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ARTL_CreatePMApprovalTaskController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Permanent Disconnect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rebilling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.ProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&apos;c9958738-b03b-4ca7-b122-d732cf1e0f40&apos;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.vlocity_cmt__OrderStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Approval_Task</targetReference>
            </connector>
            <label>Create Task</label>
        </rules>
    </decisions>
    <description>SFDC-906 : Create PM approval Task for each Sub Order created and Submitted to OM.
Task should be linked to Order and Root Quote Line Item Id.
Task must be assigned to PM linked to Quote</description>
    <environments>Default</environments>
    <interviewLabel>Create PM approval Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create PM approval Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__ParentItemId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
