force-app/main/default/flows/List_Button_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Ip_From_Apex</name>
        <label>Call Ip From Apex</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Artl_batch_IP_ERPCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>activityAction</name>
            <value>
                <elementReference>activityAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Artl_batch_IP_ERPCallout</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>List Button Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fetch PR List Button Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Jobs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Jobs are running in background. Please click on Finish to return to previous page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Ip_From_Apex</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>activityAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
