force-app/main/default/flows/PM_Approval_Task_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PM_Approval_Task_SubOrder</name>
        <label>PM Approval Task - SubOrder</label>
        <locationX>483</locationX>
        <locationY>1018</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>PMApprovalUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>PM Approval Task</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New PM Approval Task Assigned To You {!$Record.ARTL_TaskType__c} {!varRelatedTo}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Map_Task_RelatedTo</name>
        <label>Map Task RelatedTo</label>
        <locationX>788</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>varRelatedTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Task_RelatedTo_Value</name>
        <label>Map Task RelatedTo Value</label>
        <locationX>484</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varRelatedTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Details.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PM_User</name>
        <label>PM User</label>
        <locationX>483</locationX>
        <locationY>844</locationY>
        <assignmentItems>
            <assignToReference>PMApprovalUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PM_Approval_Task_SubOrder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Task_s_RelatedTo_is_Order</name>
        <label>Validate Task&apos;s RelatedTo is Order</label>
        <locationX>780</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>Map_Task_RelatedTo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Task_realtedto_order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsTaskRelatedToOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Details</targetReference>
            </connector>
            <label>check Task realtedto order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsTaskRelatedToOrder</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(NOT(ISBLANK({!$Record.WhatId})),BEGINS({!$Record.WhatId},&quot;801&quot;)), true, false)</expression>
    </formulas>
    <interviewLabel>PM Approval Task Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PM Approval Task Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>484</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM_Approval_Task_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>484</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Map_Task_RelatedTo_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Validate_Task_s_RelatedTo_is_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ARTL_TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM Approval</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PMApprovalUser</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PMUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRelatedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
