force-app/main/default/flows/Sending_Request_To_Hansen_OM_For_Jeopardy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calling_IPs</name>
        <label>Calling IPs</label>
        <locationX>205</locationX>
        <locationY>672</locationY>
        <actionName>ARTL_JeopardyManagementCallout</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <elementReference>IPDetails</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ARTL_JeopardyManagementCallout</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Task_Type</name>
        <label>Set Task Type</label>
        <locationX>584</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>TaskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckTaskType</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <description>Add custom Error as related order (NIPS Hardware) is not submitted till.</description>
        <name>Can_Not_Submit_Order</name>
        <label>Can Not Submit Order</label>
        <locationX>206</locationX>
        <locationY>921</locationY>
        <customErrorMessages>
            <errorMessage>Can not Submit Order before submitting NIPS Hardware Order. Please Submit Related Order.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Check for NIPS hardware</description>
        <name>Check_NIPS_Hardware</name>
        <label>Check NIPS Hardware</label>
        <locationX>525</locationX>
        <locationY>739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNIPSHardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Order_Product_Relationship.vlocity_cmt__RelatedOrderItemId__r.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dac49a09-9b41-4999-b7c4-cf6319ad5b44</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Linked_Order_On_Order</targetReference>
            </connector>
            <label>isNIPSHardware</label>
        </rules>
        <rules>
            <name>isNotNIPSHardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Order_Product_Relationship.vlocity_cmt__RelatedOrderItemId__r.Product2.ProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>dac49a09-9b41-4999-b7c4-cf6319ad5b44</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Custom_Metadata</targetReference>
            </connector>
            <label>isNotNIPSHardware</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the related NIPS hardware order is submitted or not.</description>
        <name>Check_Related_Order_Submited</name>
        <label>Check Related Order Submited</label>
        <locationX>339</locationX>
        <locationY>872</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSubmitted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Order_Product_Relationship.vlocity_cmt__RelatedOrderItemId__r.Order.vlocity_cmt__OrderStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready To Submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Custom_Metadata</targetReference>
            </connector>
            <label>isSubmitted</label>
        </rules>
        <rules>
            <name>isNotSubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Order_Product_Relationship.vlocity_cmt__RelatedOrderItemId__r.Order.vlocity_cmt__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready To Submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_Not_Submit_Order</targetReference>
            </connector>
            <label>isNotSubmitted</label>
        </rules>
    </decisions>
    <decisions>
        <description>checking product code</description>
        <name>CheckEILLorMPLS</name>
        <label>CheckEILLorMPLS</label>
        <locationX>563</locationX>
        <locationY>596</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEILLorMPLS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetOrderItem.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6c24fdd7-4f71-4806-b7eb-62837fe6571e</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrderItem.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3c6df3ca-4424-4131-bde3-c3ea5d5b5925</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrderItem.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0c8bc86e-c30b-41dd-9077-13c1d2c54ed2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrderItem.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4488fd77-6d78-4719-b93e-101e19d6e44e</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrderItem.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>c09a2e70-64af-4ad6-8427-06c8489234d7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Order_Product_Relationship</targetReference>
            </connector>
            <label>isEILLorMPLS</label>
        </rules>
        <rules>
            <name>inNotEILLorMPLS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrderItem.Product2.ProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6c24fdd7-4f71-4806-b7eb-62837fe6571e</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrderItem.Product2.ProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>3c6df3ca-4424-4131-bde3-c3ea5d5b5925</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrderItem.Product2.ProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0c8bc86e-c30b-41dd-9077-13c1d2c54ed2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrderItem.Product2.ProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4488fd77-6d78-4719-b93e-101e19d6e44e</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrderItem.Product2.ProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>c09a2e70-64af-4ad6-8427-06c8489234d7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Custom_Metadata</targetReference>
            </connector>
            <label>inNotEILLorMPLS</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTaskType</name>
        <label>CheckTaskType</label>
        <locationX>1112</locationX>
        <locationY>453</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPMApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PM Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrderItem</targetReference>
            </connector>
            <label>isPMApproval</label>
        </rules>
        <rules>
            <name>isNot_PM_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PM Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Custom_Metadata</targetReference>
            </connector>
            <label>isNot PM Approval</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sending Request To Hansen OM For Jeopardy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sending Request To Hansen OM For Jeopardy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get NIPS Hardware record.</description>
        <name>Get_Related_Order_Product_Relationship</name>
        <label>Get Related Order Product Relationship</label>
        <locationX>725</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_NIPS_Hardware</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__OrderItemId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOrderItem.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_cmt__OrderItemRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get ILL or MPLS Order Products</description>
        <name>GetOrderItem</name>
        <label>GetOrderItem</label>
        <locationX>829</locationX>
        <locationY>536</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckEILLorMPLS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>vlocity_cmt__ParentItemId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Custom_Metadata</name>
        <label>Getting Custom Metadata</label>
        <locationX>285</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calling_IPs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskType</elementReference>
            </value>
        </filters>
        <object>ARTL_TaskTypeIP__mdt</object>
        <outputAssignments>
            <assignToReference>IPDetails</assignToReference>
            <field>IP__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Linked_Order_On_Order</name>
        <label>Update Linked Order On Order</label>
        <locationX>536</locationX>
        <locationY>896</locationY>
        <connector>
            <targetReference>Check_Related_Order_Submited</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOrderItem.Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_with_ReliesOn__c</field>
            <value>
                <elementReference>Get_Related_Order_Product_Relationship.vlocity_cmt__RelatedOrderItemId__r.OrderId</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Set_Task_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR (2 AND 3) OR (4 OR 5 OR 6))</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOC</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_locRejectionReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer End Testing Pending –NSG</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_locRejectionReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Denied –B/W throughput issue-NSG</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_locRejectionReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Denied-Link Not Tested-NSG</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IPDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
