force-app/main/default/flows/Send_Feedback_Request_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <actionName>ARTL_NotifyCustomerOnEventCompleted</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>ARTL_Event_Completed_With_SRNumber</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toList</name>
            <value>
                <elementReference>EmailList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ARTL_NotifyCustomerOnEventCompleted</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Without_SR</name>
        <label>Send Email Without SR</label>
        <locationX>314</locationX>
        <locationY>2063</locationY>
        <actionName>ARTL_NotifyCustomerOnEventCompleted</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>ARTL_Event_Completed_Without_SRNumber</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toList</name>
            <value>
                <elementReference>EmailList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ARTL_NotifyCustomerOnEventCompleted</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Email</name>
        <label>Add Email</label>
        <locationX>666</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Emails</name>
        <label>Assign Emails</label>
        <locationX>666</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_relation_Ids</name>
        <label>Assign relation Ids</label>
        <locationX>666</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>EventRelationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_related_records.RelationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_related_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_MBR_event_updated</name>
        <label>If MBR event updated</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Loop_over_related_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_MBR_event_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ARTL_Disposition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MBR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__EventStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__EventStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_MBR_Completion_Date</targetReference>
            </connector>
            <label>If MBR event completed</label>
        </rules>
        <rules>
            <name>If_QBR_event_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ARTL_Disposition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ARTL_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QBR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__EventStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__EventStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_QBR_completion_date</targetReference>
            </connector>
            <label>If QBR event completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Check</name>
        <label>Send Email Check</label>
        <locationX>578</locationX>
        <locationY>1847</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__EventStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__EventStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SR_Number_Check</targetReference>
            </connector>
            <label>Check Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>SR_Number_Check</name>
        <label>SR Number Check</label>
        <locationX>314</locationX>
        <locationY>1955</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SR_FTR_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Present</label>
        </rules>
        <rules>
            <name>Absent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SR_FTR_Number__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Email_Without_SR</targetReference>
            </connector>
            <label>Absent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Feedback Request Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Feedback Request Email</label>
    <loops>
        <name>Loop_over_Contacts</name>
        <label>Loop over Contacts</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_related_records</name>
        <label>Loop over related records</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <collectionReference>Get_Event_Related_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_relation_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_relation_users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Users</name>
        <label>Loop Over Users</label>
        <locationX>578</locationX>
        <locationY>1139</locationY>
        <collectionReference>Get_relation_users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Emails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>578</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>EventRelationIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Related_Records</name>
        <label>Get Event Related Records</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_MBR_event_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EventId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_relation_users</name>
        <label>Get relation users</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>EventRelationIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_MBR_Completion_Date</name>
        <label>Update Account MBR Completion Date</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Loop_over_related_records</targetReference>
        </connector>
        <inputAssignments>
            <field>SAM_MBR_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ARTL_Account_Name__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_QBR_completion_date</name>
        <label>Update Account QBR completion date</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Loop_over_related_records</targetReference>
        </connector>
        <inputAssignments>
            <field>SAM_QBR_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ARTL_Account_Name__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event_Related_Records</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Customer,&lt;/p&gt;&lt;p&gt;Thank you for your time. Please find the details of your Meeting with your Service Manager {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName} below:&lt;/p&gt;&lt;p&gt;{!$Record.Meeting_Notes_External__c}&lt;/p&gt;&lt;p&gt;We request you to share the feedback regarding the interactions &lt;a href=&quot;https://business-force-5632--artldevp2.sandbox.lightning.force.com/builder_platform_interaction/%7B!$Label.ARTL_FeedbackLink%7D/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;Team Airtel Business&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodySR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Customer,&lt;/p&gt;&lt;p&gt;Thank you for your time. Please find the details of your Meeting with your Service Manager {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName} below:&lt;/p&gt;&lt;p&gt;{!$Record.Meeting_Notes_External__c}&lt;/p&gt;&lt;p&gt;SR/FTR Number: {!$Record.SR_FTR_Number__c}&lt;/p&gt;&lt;p&gt;We request you to share the feedback regarding the interactions &lt;a href=&quot;https://business-force-5632--artldevp2.sandbox.lightning.force.com/builder_platform_interaction/%7B!$Label.ARTL_FeedbackLink%7D/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;Team Airtel Business&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AssignedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventRelationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfRecipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
