force-app/main/default/flows/Sending_Request_To_Hansen_OM_For_Jeopardy-8.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calling_IPs</name>
        <label>Calling IPs</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>ARTL_JeopardyManagementCallout</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <elementReference>IPDetails</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ARTL_JeopardyManagementCallout</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Task_Type</name>
        <label>Set Task Type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>TaskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ARTL_TaskType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Getting_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Sending Request To Hansen OM For Jeopardy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sending Request To Hansen OM For Jeopardy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_Custom_Metadata</name>
        <label>Getting Custom Metadata</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calling_IPs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskType</elementReference>
            </value>
        </filters>
        <object>ARTL_TaskTypeIP__mdt</object>
        <outputAssignments>
            <assignToReference>IPDetails</assignToReference>
            <field>IP__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Task_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR (2 AND 3) OR (4 OR 5 OR 6))</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOC</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_locRejectionReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer End Testing Pending –NSG</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_locRejectionReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Denied –B/W throughput issue-NSG</stringValue>
            </value>
        </filters>
        <filters>
            <field>ARTL_locRejectionReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Denied-Link Not Tested-NSG</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IPDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
