force-app/main/default/flows/Submit_for_approval_via_mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_Action</name>
        <label>Approval Action</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comment_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Airtel_Account_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Approval_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Address_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BillingCity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingZip_PostalCode</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Billing_Address_Error</targetReference>
            </connector>
            <label>Billing Address Check</label>
        </rules>
        <rules>
            <name>Segment_Information_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BusinessCircle_Region</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>category</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ServiceSegment</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VerticalSegment</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Segment_Error</targetReference>
            </connector>
            <label>Segment Information Check</label>
        </rules>
        <rules>
            <name>Pan_Check</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>IdentificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PAN</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>IsPanVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PAN_Error</targetReference>
            </connector>
            <label>Pan Check</label>
        </rules>
        <rules>
            <name>TAN_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdentificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TAN</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>TAN_Error</targetReference>
            </connector>
            <label>TAN check</label>
        </rules>
        <rules>
            <name>Identification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdentificationType</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Identification_Type_Error</targetReference>
            </connector>
            <label>Identification Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Submit for approval via mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit for approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>BusinessCircle_Region</assignToReference>
            <field>ARTL_Business_Circle_Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>category</assignToReference>
            <field>ARTL_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdentificationType</assignToReference>
            <field>ARTL_Identification_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsPanVerified</assignToReference>
            <field>ARTL_IsPANVerified__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PAN</assignToReference>
            <field>ARTL_PAN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceSegment</assignToReference>
            <field>ARTL_Service_Segment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TAN</assignToReference>
            <field>ARTL_TAN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VerticalSegment</assignToReference>
            <field>ARTL_Vertical_Segment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BillingCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BillingCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BillingZip_PostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BillingStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Billing_Address_Error</name>
        <label>Billing Address Incomplete</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Billing_Address_Incomplete</name>
            <fieldText>&lt;p&gt;Please fill the complete Billing Address before submitting for Approval&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Identification_Type_Error</name>
        <label>Identification Type Error</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Identification_Type_Error_Text</name>
            <fieldText>&lt;p&gt;Please select Identification Type before submitting for Approval&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PAN_Error</name>
        <label>PAN Error</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PAN_Error_Text</name>
            <fieldText>&lt;p&gt;Please fill and validate the PAN number before submitting for Approval&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Segment_Error</name>
        <label>Segment Error</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Segment_Error_TextMessage</name>
            <fieldText>&lt;p&gt;Please fill the complete Segment Information before submitting for Approval&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_Approval</name>
        <label>Submit Approval</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <fields>
            <name>Comment_Text</name>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TAN_Error</name>
        <label>TAN Error</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TAN_Error_Text</name>
            <fieldText>&lt;p&gt;Please fill the TAN number before submitting for Approval&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Submit_Approval</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingZip_PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessCircle_Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdentificationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsPanVerified</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PAN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TAN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerticalSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
