force-app/main/default/flows/update_BCP_DCP_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>SegregateRoleBased</name>
        <label>SegregateRoleBased</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BCPRole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBCPNumber</targetReference>
            </connector>
            <label>BCPRole</label>
        </rules>
        <rules>
            <name>DCPRole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DCP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDCPNumber</targetReference>
            </connector>
            <label>DCPRole</label>
        </rules>
    </decisions>
    <description>This flow updates the value of BCP/DCP Number when role is BCP then 12-&lt;Auto CPR Number&gt; , else when role is DCP then 13-&lt;Auto CPR Number&gt;.</description>
    <environments>Default</environments>
    <formulas>
        <name>ContactPremiseRelationName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Contact_Records.Name}, 64)</expression>
    </formulas>
    <formulas>
        <name>SearchString</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Contact_Records.Email}+&apos; - &apos;+{!Get_Contact_Records.Phone}+&apos; - &apos;+{!Get_Contact_Records.Name}, 255)</expression>
    </formulas>
    <interviewLabel>update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update BCP/DCP Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SegregateRoleBased</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBCPNumber</name>
        <label>UpdateBCPNumber</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>BCP_DCP_Number__c</field>
            <value>
                <stringValue>12-{!$Record.Auto_CPR_Number__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!ContactPremiseRelationName} - 12-{!$Record.Auto_CPR_Number__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Search_String__c</field>
            <value>
                <elementReference>SearchString</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDCPNumber</name>
        <label>UpdateDCPNumber</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>BCP_DCP_Number__c</field>
            <value>
                <stringValue>13-{!$Record.Auto_CPR_Number__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!ContactPremiseRelationName} - 13-{!$Record.Auto_CPR_Number__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Search_String__c</field>
            <value>
                <elementReference>SearchString</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ContactPremiseRelation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
